<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Serve existing files as-is
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all other requests to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
